/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
  background-size: cover;
  margin-top: -35px;
  background-repeat: repeat;
  width: 100%;
  height: 105%;
}

h1.center-text {
  color: rgba(27, 27, 141, 0.966);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Form Styling */
.form-container {
  max-width: 800px;
  max-height: 650px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin: auto; /* Center the form */
}
.form-column {
  margin-bottom: -14px; /* Adjust the gap between each input field */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.form-column {
  padding: 0 10px;
}

/* Input and Select Styling */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
  width: 90%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #315e8b;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

input:focus,
select:focus {
  border-bottom: 2px solid #000307;
}

/* Button Styling */
button[type="submit"] {
  border-radius: 8px;
  background-color: #13099eef;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 20px;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(380%);
}

button[type="submit"]:hover {
  background-color: blue;
  border-color: hsl(180, 9%, 98%);
}

/* Footer Styling */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

/* Additional styles for error messages */
label {
  color: #333;
  font-weight: bold;
}

.error-message {
  color: rgb(189, 12, 12);
  text-align: center;
}

input[type="email"]
{
  margin-top: 6.5px;
}
.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-area p {
  margin: 0;
}
.file-types-info {
  margin-left: 10px;
  font-size: 12px; /* Adjust the font size to your preference */
  color: rgb(12, 3, 3);
}
.center-text {
  text-align: center;
}
.error{
  color:red;
  text-align: center;
}