<header class="header" fixed-top >
  <div class="navigation-bar" >
    <div class="time-date">
      <p><span id="current-date">&nbsp;&nbsp;&nbsp;{{ currentDate }}</span> &nbsp;|
      <span id="current-time">{{ currentTime }}</span></p>
    </div>
    <div class="logout-button">
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="content-bar">
    <div class="national-emblem">
      &nbsp; &nbsp; <img src="assets/emblem.png" alt="National Emblem Logo">
    </div>
    <div class="passport-seva">
      <h2>Passport Seva</h2>
      <p>Passport verification & registration</p>
    </div>
    <div class="right-logo">
      <img src="assets/passportSeva.png" alt="Passport Seva Logo">
    </div>
  </div>
  <div class="more-nav">
    <a routerLink="/Homepage" class="nav-link button-link">Home</a>
    <button (click)="goToFormPage()" class="nav-link button-link form-button">Verification</button>
    <a routerLink="/contact" class="nav-link button-link">Contact</a>
    <a routerLink="/fetchdetails" class="nav-link button-link">Fetch Passport</a>

  </div>
  
  
<div class="latest-news">
  <marquee behavior="scroll" direction="left" scrollamount="8">
    <!-- Your latest news content goes here -->
    <span>Cyclone Miachaung Alert: Nellore has been closed at RPO Vijayawada and some PSK/POPSK have been closed at RPO Chennai. Refer to the respective RPO pages for more details</span>
  </marquee>
</div>
</header><br> <br>
