.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .failure-heading {
    color: #ff0000; /* Red color for the heading */
    font-size: 24px;
  }
  
  .failure-text {
    color: #ec0909; /* Orange color for the text */
    font-size: 18px;
  }
  
  .failure-button {
    background-color: #ff0000; /* Red color for the button */
    color: #ffffff; /* White text for the button */
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .failure-button:hover {
    background-color: #cc0000; /* Darker red for hover effect */
  }
  